/* Raleway Google font */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900');

html{
    font-size: 9px;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #fff;
}

/*  Banner */

.banner-mobile {
    width: 100%;
    background: linear-gradient(to right,rgba(0, 0, 0, .4),rgba(0, 0, 0, .2)), url('../img/banner/bg-xs-sm-md.jpg') no-repeat center center;
    background-size: cover;
}

.banner-h1 {
    font-size: 3.6rem;
    line-height: 1.5;
    padding: 4rem;
}

.banner-content {
    margin: 6rem auto;
}

/* About us */

.about-us {
    margin: 4rem auto;
}

/* About-us-head */

.about-us-head {
    color: #1f1f1f;
    padding-top: 4rem;
}

.about-us-head-subtitle {
    font-size: 2.5rem;
    font-weight: 300;
}

.describe {
    color: #999;
    padding: 4rem;
}

/* List-ceo */

.lists {
    margin: 3rem auto;
    padding: 4rem;
}


.job-h3 {
    font-size: 3rem;
    font-weight: 900;
}

.list-ceo {
    list-style: none;
    margin-left: 3rem;
}

.list-ceo li {
    margin: 3rem auto;
}

.list-ceo li:before {
    position: absolute;
    display: inline-block;
    left: 3rem;
    margin: .4rem 4.5rem;
}

.list-done li:before, 
.list-plus li:before, 
.list-minus li:before{
    color: #ffba00;
}

/* Tasks */

.tasks {
    width: 100%;
    background: url('../img/bg-1.jpg') no-repeat center;
    background-size: cover;
}

/* innonic-gives */

.innonic-gives {
    width: 100%;
    background-color: #11b5be;
}

/* expectations */

.expectations {
    width: 100%;
    background: url('../img/bg-2.jpg') no-repeat center;
    color: #333;
    background-size: cover;
}

/* no-need */

.no-need {
    width: 100%;
    background-color: #015979;
}

/* CTA */

.cta {
    width: 100%;
    background: url('../img/bg-3.jpg') no-repeat center;
    color: #333;
    background-size: cover;
    text-align: center;
}

.cta-content {
    padding: 10rem 4rem;
}

.cta-content a {
    margin: 4rem auto;
}

.cta-h4 {
    line-height: 1.6;
    font-size: 2.8rem;
}

@media screen and ( min-width: 576px ){

}

@media screen and ( min-width: 768px ){

}

@media screen and ( min-width: 992px ){


}
@media screen and ( min-width: 1200px ){

    html {
        font-size: 10px;
    }

    /* Banner-desktop */

    .banner-text {
        position: absolute;
        margin: 16rem 30rem;
        width: 50%;
        z-index: 10;
    }

    .banner-h1 {
        font-weight: 300;
        line-height: 1.5;
        font-size: 5rem;
    }
        
    .banner-wrapper {
        position: relative;
        width: 100%;
        height: 700px;
        overflow: hidden;
        background: url('../img/banner/parallax-bg.jpg') no-repeat center;
        background-size: cover;
    }

    #falcon-heavy {
        position: absolute;
        left: 62%;
        top: 40%;
    }

    #cloud-left {
        position: absolute;
        left: -20%;
        top: 40%;
        overflow: hidden;
    }

    #cloud-middle {
        position: absolute;
        left: 3%;
        top: 43%;
        overflow: hidden;
    }

    #cloud-right {
        position: absolute;
        right: -15%;
        top: 40%;
        overflow: hidden;
    }

    /* Lists */
    .lists {
        width: 75%;
    }

}

/* Fontello */

@font-face {
    font-family: 'junior-ceo-iconfont';
    src: url('../font/junior-ceo-iconfont.eot?84800138');
    src: url('../font/junior-ceo-iconfont.eot?84800138#iefix') format('embedded-opentype'),
         url('../font/junior-ceo-iconfont.woff2?84800138') format('woff2'),
         url('../font/junior-ceo-iconfont.woff?84800138') format('woff'),
         url('../font/junior-ceo-iconfont.ttf?84800138') format('truetype'),
         url('../font/junior-ceo-iconfont.svg?84800138#junior-ceo-iconfont') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'junior-ceo-iconfont';
      src: url('../font/junior-ceo-iconfont.svg?84800138#junior-ceo-iconfont') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "junior-ceo-iconfont";
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
  .icon-check-03:before { content: '\e800'; } /* '' */
  .icon-plus-01:before { content: '\e801'; } /* '' */
  .icon-exclamation-01:before { content: '\e803'; } /* '' */
  .icon-minus-01:before { content: '\e805'; } /* '' */