@font-face {
  font-family: 'junior-ceo-iconfont';
  src: url('../font/junior-ceo-iconfont.eot?35566860');
  src: url('../font/junior-ceo-iconfont.eot?35566860#iefix') format('embedded-opentype'),
       url('../font/junior-ceo-iconfont.woff2?35566860') format('woff2'),
       url('../font/junior-ceo-iconfont.woff?35566860') format('woff'),
       url('../font/junior-ceo-iconfont.ttf?35566860') format('truetype'),
       url('../font/junior-ceo-iconfont.svg?35566860#junior-ceo-iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'junior-ceo-iconfont';
    src: url('../font/junior-ceo-iconfont.svg?35566860#junior-ceo-iconfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "junior-ceo-iconfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-check-03:before { content: '\e800'; } /* '' */
.icon-plus-01:before { content: '\e801'; } /* '' */
.icon-exclamation-01:before { content: '\e803'; } /* '' */
.icon-arrow-left-02:before { content: '\e804'; } /* '' */
.icon-minus-01:before { content: '\e805'; } /* '' */